body{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: aquamarine;
}
.machinelearningLogo{
    width:40px;
    height:40px;
    border-radius: 20px;
}
